<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- =================== ADD THESE LINES =================== -->
    <!-- Declares that the app needs permission to access the camera. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--
 Declares that the app uses camera features. required="true" means
         the app won't be available on devices without a camera.
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- ======================================================= -->
    <!-- Your existing uses-permission and uses-feature for sensors -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qr_indoornav"
        tools:targetApi="31">
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CompassActivity"
            android:exported="false"
            android:parentActivityName=".NavigationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ProgressActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Qr_indoornav"
            tools:ignore="LockedOrientationActivity" /> <!-- Make sure the QRScannerActivity declaration is here -->
        <activity
            android:name=".QRScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>